<div class="village">
  <h3>Righteous indignation & like</h3>
  <span class="line"> </span>
  <div class="activity_box">
    <div class="scrollbar" id="style-2">
      <div (click)="selectItem(item)" *ngFor="let item of items" class="activity-row">
        <div class="activity-desc">
          <div class="content-wrapper">
            <h5>{{item.name}}</h5>
            <p>{{item.address.street}}</p>
            <p>{{item.address.houseNumber}}</p>
            <h6>{{item.phone | phoneNumber}}</h6>
          </div>
        </div>
        <div class="activity-img">
            <img src='{{item.url}}'/>
        </div>
      </div>
    </div>
  </div>
</div>