<h1>Hot Weather Widget powered by Angular + RxJS</h1>
<div class="element">
  <course-items *ngIf="true"
      [items]="filteredItems$ | async"
      (filterSelected)="onFilterSelection($event)"
      (itemSelected)="onItemSelection($event)">
  </course-items>
<div class="element-right" 
    *ngIf="(selectedItem$ | async) as selectedItem">
  <course-weather-info 
      [weather]="selectedItem.weather">
  </course-weather-info>
  <course-social-info
      [social]="selectedItem.social">
  </course-social-info>
</div>
  <div class="clear"> </div>
</div>
<div class="copy-right">
  <p>© 2015 Hot Weather Widget. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">
      W3layouts </a></p>
</div>