.container {
    display: flex;
    flex-direction: row;
    max-width: 700px;
    margin: 3em auto;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    flex: 0.6;
    margin-right: 2em;
}

.widgets-wrapper {
    flex: 0.4;
}